@import services.BlockstreamBlock
@(block: BlockstreamBlock)
@main("Block") {
  <div class="container">
    <div class="details-btn float-right mb-2"
    data-toggle-block="@block.id">
      <div role="button" tabindex="0">
        <div>Details</div>
        <div class="plus"></div>
      </div>
    </div>
    <div class="stats-table">
      <div>
        <div>Height</div>
        <div><a href="@routes.HomeController.block(block.id)">@block.height</a></div>
      </div>
      <div>
        <div>Status</div>
        <div>In best chain (581377 confirmations)</div>
      </div>
      <div>
        <div>Timestamp</div>
        <div>@block.timestamp</div>
      </div>
      <div>
        <div>Size</div>
        <div>@block.size KB</div>
      </div>
      <div>
        <div>Virtual size</div>
        <div>@block.size vKB</div>
      </div>
      <div>
        <div>Weight units</div>
        <div>@block.weight KWU</div>
      </div>
    </div>
    <div class="transactions">
      <h3>@block.tx_count Transaction</h3>
      <div class="transaction-box" id="transaction-box">
        <div class="header">
          <div class="txn"><a href="tx/0e3e2357e806b6cdb1f70b54c3a3a17b6714ee1f0e68bebb44a74b1efd512098">0e3e2357e806b6cdb1f70b54c3a3a17b6714ee1f0e68bebb44a74b1efd512098</a></div>
          <div class="details-btn" data-toggle-tx="0e3e2357e806b6cdb1f70b54c3a3a17b6714ee1f0e68bebb44a74b1efd512098">
            <div role="button" tabindex="0">
              <div>Details</div>
              <div class="plus"></div>
            </div>
          </div>
        </div>
        <div class="ins-and-outs">
          <div class="vins">
            <div class="vin">
              <div class="vin-header">
                <div class="vin-header-container"><span>Coinbase</span><span class="amount"></span></div>
              </div>
            </div>
          </div>
          <div class="ins-and-outs_spacer">
            <div class="direction-arrow-container">
              <div class="direction-arrow"></div>
            </div>
          </div>
          <div class="vouts">
            <div class="vout">
              <div class="vout-header">
                <div class="vout-header-container"><span>P2PK</span><span class="amount">50 BTC</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer">
          <div></div>
          <div></div>
          <div><span> </span><span class="amount">50 BTC</span></div>
        </div>
      </div>
    </div>
    <div class="load-more-container">
      <div></div>
    </div>
  </div>
}
